In [28]:
pip install requests

Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (2.31.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2023.7.22)

In [29]:
#!pip install --upgrade pip

In [30]:
import pandas as pd
import numpy as np 
import json
import csv
import requests

In [31]:
url = 'https://ghoapi.azureedge.net/api/Indicator'

# Make a GET request
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    data = response.json()  # Assuming the response is in JSON format
    # Process and work with the data as needed
else:
    print(f'Error: {response.status_code}, {response.text}')

In [32]:
api_endpoint = 'https://ghoapi.azureedge.net/api/Indicator'

# Make the API request and get the JSON response
response = requests.get(api_endpoint)
data_00 = response.json()

In [33]:
data_01=data_00['value']

In [34]:
#data_01

In [35]:
with open("my_file.csv", "w", encoding="utf-8", errors="replace") as f:
    # Create a DictWriter object with the keys as fieldnames
    writer = csv.DictWriter(f, fieldnames=data_01[0].keys())
    # Write the header row
    writer.writeheader()
    # Write the rows using the list of dictionaries
    writer.writerows(data_01)

filter contains IndicatorName ='traffic'

In [36]:
api_endpoint = " https://ghoapi.azureedge.net/api/Indicator?$filter=contains(IndicatorName,'traffic')"

# Make the API request and get the JSON response
response = requests.get(api_endpoint)
data_02 = response.json()
data_03=data_02['value']
with open("my_file2.csv", "w", encoding="utf-8", errors="replace") as f:
    # Create a DictWriter object with the keys as fieldnames
    writer = csv.DictWriter(f, fieldnames=data_03[0].keys())
    
    writer.writeheader()
    
    writer.writerows(data_03)

In [37]:
#data_02

In [38]:
api_endpoint = "https://ghoapi.azureedge.net/api/HIV_0000000006?$filter=ParentLocationCode ne null"

# Make the API request and get the JSON response
response = requests.get(api_endpoint)
data_099 = response.json()
#data_099
data_0=data_099['value']
data99= pd.DataFrame(data_0)
data99

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,TimeDim,Dim1,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,32256656,HIV_0000000006,COUNTRY,AFG,YEAR,EMR,Eastern Mediterranean,None,2022,None,...,None,780 [<500–3200],780.0,500.0,3200.0,None,2023-07-11T10:42:13.313+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
1,32256657,HIV_0000000006,COUNTRY,ALB,YEAR,EUR,Europe,None,2022,None,...,None,<100 [<100–<100],100.0,100.0,100.0,None,2023-07-11T10:42:13.33+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
2,32256658,HIV_0000000006,COUNTRY,DZA,YEAR,AFR,Africa,None,2022,None,...,None,<500 [<500–<500],500.0,500.0,500.0,None,2023-07-11T10:42:13.347+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
3,32256659,HIV_0000000006,COUNTRY,AND,YEAR,EUR,Europe,None,2022,None,...,None,No data,NaN,NaN,NaN,None,2023-07-11T10:42:13.36+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
4,32256660,HIV_0000000006,COUNTRY,AGO,YEAR,AFR,Africa,None,2022,None,...,None,13 000 [10 000–17 000],13000.0,10000.0,17000.0,None,2023-07-11T10:42:13.36+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4457,32261113,HIV_0000000006,COUNTRY,VEN,YEAR,AMR,Americas,None,2000,None,...,None,1900 [1600–2200],1900.0,1600.0,2200.0,None,2023-07-11T10:43:03.427+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
4458,32261114,HIV_0000000006,COUNTRY,VNM,YEAR,WPR,Western Pacific,None,2000,None,...,None,5200 [4400–6000],5200.0,4400.0,6000.0,None,2023-07-11T10:43:03.427+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
4459,32261115,HIV_0000000006,COUNTRY,YEM,YEAR,EMR,Eastern Mediterranean,None,2000,None,...,None,<200 [<200–<200],200.0,200.0,200.0,None,2023-07-11T10:43:03.44+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
4460,32261116,HIV_0000000006,COUNTRY,ZMB,YEAR,AFR,Africa,None,2000,None,...,None,61 000 [56 000–68 000],61000.0,56000.0,68000.0,None,2023-07-11T10:43:03.457+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
4461,32261117,HIV_0000000006,COUNTRY,ZWE,YEAR,AFR,Africa,None,2000,None,...,None,130 000 [110 000–150 000],130000.0,110000.0,150000.0,None,2023-07-11T10:43:03.457+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00

In [39]:
data99

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,TimeDim,Dim1,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,32256656,HIV_0000000006,COUNTRY,AFG,YEAR,EMR,Eastern Mediterranean,None,2022,None,...,None,780 [<500–3200],780.0,500.0,3200.0,None,2023-07-11T10:42:13.313+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
1,32256657,HIV_0000000006,COUNTRY,ALB,YEAR,EUR,Europe,None,2022,None,...,None,<100 [<100–<100],100.0,100.0,100.0,None,2023-07-11T10:42:13.33+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
2,32256658,HIV_0000000006,COUNTRY,DZA,YEAR,AFR,Africa,None,2022,None,...,None,<500 [<500–<500],500.0,500.0,500.0,None,2023-07-11T10:42:13.347+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
3,32256659,HIV_0000000006,COUNTRY,AND,YEAR,EUR,Europe,None,2022,None,...,None,No data,NaN,NaN,NaN,None,2023-07-11T10:42:13.36+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
4,32256660,HIV_0000000006,COUNTRY,AGO,YEAR,AFR,Africa,None,2022,None,...,None,13 000 [10 000–17 000],13000.0,10000.0,17000.0,None,2023-07-11T10:42:13.36+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4457,32261113,HIV_0000000006,COUNTRY,VEN,YEAR,AMR,Americas,None,2000,None,...,None,1900 [1600–2200],1900.0,1600.0,2200.0,None,2023-07-11T10:43:03.427+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
4458,32261114,HIV_0000000006,COUNTRY,VNM,YEAR,WPR,Western Pacific,None,2000,None,...,None,5200 [4400–6000],5200.0,4400.0,6000.0,None,2023-07-11T10:43:03.427+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
4459,32261115,HIV_0000000006,COUNTRY,YEM,YEAR,EMR,Eastern Mediterranean,None,2000,None,...,None,<200 [<200–<200],200.0,200.0,200.0,None,2023-07-11T10:43:03.44+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
4460,32261116,HIV_0000000006,COUNTRY,ZMB,YEAR,AFR,Africa,None,2000,None,...,None,61 000 [56 000–68 000],61000.0,56000.0,68000.0,None,2023-07-11T10:43:03.457+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00
4461,32261117,HIV_0000000006,COUNTRY,ZWE,YEAR,AFR,Africa,None,2000,None,...,None,130 000 [110 000–150 000],130000.0,110000.0,150000.0,None,2023-07-11T10:43:03.457+02:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00

In [40]:
api_endpoint = "https://ghoapi.azureedge.net/api/HIV_0000000006?$filter=date(TimeDimensionBegin) ge 2022-01-01 and date(TimeDimensionBegin) lt 2022-11-01"

# Make the API request and get the JSON response
response = requests.get(api_endpoint)
data_098 = response.json()
#data_098
data_60=data_098['value']
data98= pd.DataFrame(data_60)
data98

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,TimeDim,Dim1,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,32138291,HIV_0000000006,REGION,GLOBAL,YEAR,None,None,None,2022,None,...,None,630 000 [480 000-880 000],630000.0,480000.0,880000.0,None,2023-07-07T13:48:04.777+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
1,32138292,HIV_0000000006,REGION,AFR,YEAR,None,None,None,2022,None,...,None,380 000 [300 000-540 000],380000.0,300000.0,540000.0,None,2023-07-07T13:48:04.793+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
2,32138293,HIV_0000000006,REGION,AMR,YEAR,None,None,None,2022,None,...,None,41 000 [31 000-54 000],41000.0,31000.0,54000.0,None,2023-07-07T13:48:04.793+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
3,32138294,HIV_0000000006,REGION,EMR,YEAR,None,None,None,2022,None,...,None,20 000 [16 000-27 000],20000.0,16000.0,27000.0,None,2023-07-07T13:48:04.807+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
4,32138295,HIV_0000000006,REGION,EUR,YEAR,None,None,None,2022,None,...,None,52 000 [40 000-65 000],52000.0,40000.0,65000.0,None,2023-07-07T13:48:04.807+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,32256845,HIV_0000000006,COUNTRY,VEN,YEAR,AMR,Americas,None,2022,None,...,None,1500 [1300–1900],1500.0,1300.0,1900.0,None,2023-07-11T10:42:15.353+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
197,32256846,HIV_0000000006,COUNTRY,VNM,YEAR,WPR,Western Pacific,None,2022,None,...,None,4100 [3000–5500],4100.0,3000.0,5500.0,None,2023-07-11T10:42:15.37+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
198,32256847,HIV_0000000006,COUNTRY,YEM,YEAR,EMR,Eastern Mediterranean,None,2022,None,...,None,<500 [<500–<500],500.0,500.0,500.0,None,2023-07-11T10:42:15.383+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
199,32256848,HIV_0000000006,COUNTRY,ZMB,YEAR,AFR,Africa,None,2022,None,...,None,19 000 [17 000–23 000],19000.0,17000.0,23000.0,None,2023-07-11T10:42:15.383+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00
200,32256849,HIV_0000000006,COUNTRY,ZWE,YEAR,AFR,Africa,None,2022,None,...,None,20 000 [17 000–24 000],20000.0,17000.0,24000.0,None,2023-07-11T10:42:15.4+02:00,2022,2022-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00

we call the data we want with API

In [41]:

api_url = "https://ghoapi.azureedge.net/api/HIV_0000000006"

response = requests.get(api_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Assuming the API returns data in JSON format
    data_01 = response.json()
    data_02=data_01['value']
    # Convert the data to a DataFrame
    data= pd.DataFrame(data_02)

    # Display the first few rows of the DataFrame
    print(data.head())

    # Save the DataFrame to a CSV file 
    data.to_csv('dying hiv.csv', index=False)
else:
    # Print an error message if the request was unsuccessful
    print(f"Error: {response.status_code}")

         Id   IndicatorCode SpatialDimType SpatialDim TimeDimType  \
0  32138291  HIV_0000000006         REGION     GLOBAL        YEAR
1  32138292  HIV_0000000006         REGION        AFR        YEAR
2  32138293  HIV_0000000006         REGION        AMR        YEAR
3  32138294  HIV_0000000006         REGION        EMR        YEAR
4  32138295  HIV_0000000006         REGION        EUR        YEAR

  ParentLocationCode ParentLocation Dim1Type  TimeDim  Dim1  ...  \
0               None           None     None     2022  None  ...
1               None           None     None     2022  None  ...
2               None           None     None     2022  None  ...
3               None           None     None     2022  None  ...
4               None           None     None     2022  None  ...

  DataSourceDim                      Value NumericValue       Low      High  \
0          None  630 000 [480 000-880 000]     630000.0  480000.0  880000.0
1          None  380 000 [300 000-540 000]     380000.0  300000.0  540000.0
2          None     41 000 [31 000-54 000]      41000.0   31000.0   54000.0
3          None     20 000 [16 000-27 000]      20000.0   16000.0   27000.0
4          None     52 000 [40 000-65 000]      52000.0   40000.0   65000.0

  Comments                           Date  TimeDimensionValue  \
0     None  2023-07-07T13:48:04.777+02:00                2022
1     None  2023-07-07T13:48:04.793+02:00                2022
2     None  2023-07-07T13:48:04.793+02:00                2022
3     None  2023-07-07T13:48:04.807+02:00                2022
4     None  2023-07-07T13:48:04.807+02:00                2022

          TimeDimensionBegin           TimeDimensionEnd
0  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00
1  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00
2  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00
3  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00
4  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00

[5 rows x 25 columns]

"here we drop all the feture we dont need it and save them as csv file"

In [42]:
data.drop('IndicatorCode',axis = 1,inplace=True)

In [43]:
data.drop('ParentLocationCode',axis = 1,inplace=True)

In [44]:
data.drop('TimeDimType',axis = 1,inplace=True)

In [45]:
data.drop('ParentLocation',axis = 1,inplace=True)

In [46]:
data.drop('Dim1Type',axis = 1,inplace=True)

In [47]:
data.drop('Dim1',axis = 1,inplace=True)

In [48]:
data.drop('DataSourceDim',axis = 1,inplace=True)

In [49]:
data.drop('Comments',axis = 1,inplace=True)

In [50]:
data.drop('Date',axis = 1,inplace=True)

In [51]:
data.drop('TimeDimensionValue',axis = 1,inplace=True)

In [52]:
data.drop('TimeDimensionBegin',axis = 1,inplace=True)

In [53]:
data.drop('TimeDimensionEnd',axis = 1,inplace=True)

In [54]:
data.drop('Dim2Type',axis = 1,inplace=True)

In [55]:
data.drop('Dim2',axis = 1,inplace=True)

In [56]:
data.drop('Dim3Type',axis = 1,inplace=True)

In [57]:
data.drop('Dim3',axis = 1,inplace=True)

In [58]:
data.drop('DataSourceDimType',axis = 1,inplace=True)

In [59]:
data

,Id,SpatialDimType,SpatialDim,TimeDim,Value,NumericValue,Low,High
0,32138291,REGION,GLOBAL,2022,630 000 [480 000-880 000],630000.0,480000.0,880000.0
1,32138292,REGION,AFR,2022,380 000 [300 000-540 000],380000.0,300000.0,540000.0
2,32138293,REGION,AMR,2022,41 000 [31 000-54 000],41000.0,31000.0,54000.0
3,32138294,REGION,EMR,2022,20 000 [16 000-27 000],20000.0,16000.0,27000.0
4,32138295,REGION,EUR,2022,52 000 [40 000-65 000],52000.0,40000.0,65000.0
...,...,...,...,...,...,...,...,...
4688,32261113,COUNTRY,VEN,2000,1900 [1600–2200],1900.0,1600.0,2200.0
4689,32261114,COUNTRY,VNM,2000,5200 [4400–6000],5200.0,4400.0,6000.0
4690,32261115,COUNTRY,YEM,2000,<200 [<200–<200],200.0,200.0,200.0
4691,32261116,COUNTRY,ZMB,2000,61 000 [56 000–68 000],61000.0,56000.0,68000.0
4692,32261117,COUNTRY,ZWE,2000,130 000 [110 000–150 000],130000.0,110000.0,150000.0

In [60]:
data.to_csv('dying hiv.csv', index=False)

we do the seem in data 2

In [61]:
# Replace with your actual API endpoint
api_urll = "https://ghoapi.azureedge.net/api/HIV_0000000001"

responsee = requests.get(api_urll)

# Check if the request was successful (status code 200)
if responsee.status_code == 200:
    # Assuming the API returns data in JSON format
    data_03 = responsee.json()
    data_04=data_03['value']
    # Convert the data to a DataFrame
    data2= pd.DataFrame(data_04)

    # Display the first few rows of the DataFrame
    print(data2.head())

    # Save the DataFrame to a CSV file (or any other desired format)
    data2.to_csv('living hiv.csv', index=False)
else:
    # Print an error message if the request was unsuccessful
    print(f"Error: {response.status_code}")

         Id   IndicatorCode SpatialDimType SpatialDim TimeDimType  \
0  32137367  HIV_0000000001         REGION     GLOBAL        YEAR
1  32137368  HIV_0000000001         REGION        AFR        YEAR
2  32137369  HIV_0000000001         REGION        AMR        YEAR
3  32137370  HIV_0000000001         REGION        EMR        YEAR
4  32137371  HIV_0000000001         REGION        EUR        YEAR

  ParentLocationCode ParentLocation Dim1Type  Dim1  TimeDim  ...  \
0               None           None     None  None     2022  ...
1               None           None     None  None     2022  ...
2               None           None     None  None     2022  ...
3               None           None     None  None     2022  ...
4               None           None     None  None     2022  ...

  DataSourceDim                               Value NumericValue         Low  \
0          None  39 000 000 [33 100 000-45 700 000]   39000000.0  33100000.0
1          None  25 600 000 [21 600 000-30 000 000]   25600000.0  21600000.0
2          None     3 800 000 [3 400 000-4 300 000]    3800000.0   3400000.0
3          None           490 000 [420 000-600 000]     490000.0    420000.0
4          None     3 000 000 [2 600 000-3 300 000]    3000000.0   2600000.0

         High Comments                           Date  TimeDimensionValue  \
0  45700000.0     None  2023-07-07T12:21:39.107+02:00                2022
1  30000000.0     None  2023-07-07T12:21:39.137+02:00                2022
2   4300000.0     None  2023-07-07T12:21:39.153+02:00                2022
3    600000.0     None  2023-07-07T12:21:39.153+02:00                2022
4   3300000.0     None   2023-07-07T12:21:39.17+02:00                2022

          TimeDimensionBegin           TimeDimensionEnd
0  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00
1  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00
2  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00
3  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00
4  2022-01-01T00:00:00+01:00  2022-12-31T00:00:00+01:00

[5 rows x 25 columns]

In [62]:
#data2

In [63]:
data2.drop('IndicatorCode',axis = 1,inplace=True)

In [64]:
data2.drop('ParentLocationCode',axis = 1,inplace=True)

In [65]:
data2.drop('TimeDimType',axis = 1,inplace=True)

In [66]:
data2.drop('ParentLocation',axis = 1,inplace=True)

In [67]:
data2.drop('Dim1Type',axis = 1,inplace=True)

In [68]:
data2.drop('Dim1',axis = 1,inplace=True)

In [69]:
data2.drop('DataSourceDim',axis = 1,inplace=True)

In [70]:
data2.drop('Comments',axis = 1,inplace=True)

In [71]:
data2.drop('Date',axis = 1,inplace=True)

In [72]:
data2.drop('TimeDimensionValue',axis = 1,inplace=True)

In [73]:
data2.drop('TimeDimensionBegin',axis = 1,inplace=True)

In [74]:
data2.drop('TimeDimensionEnd',axis = 1,inplace=True)

In [75]:
data2.drop('Dim2Type',axis = 1,inplace=True)

In [76]:
data2.drop('Dim2',axis = 1,inplace=True)

In [77]:
data2.drop('Dim3Type',axis = 1,inplace=True)

In [78]:
data2.drop('Dim3',axis = 1,inplace=True)

In [79]:
data2.drop('DataSourceDimType',axis = 1,inplace=True)

In [80]:
data2

,Id,SpatialDimType,SpatialDim,TimeDim,Value,NumericValue,Low,High
0,32137367,REGION,GLOBAL,2022,39 000 000 [33 100 000-45 700 000],39000000.0,33100000.0,45700000.0
1,32137368,REGION,AFR,2022,25 600 000 [21 600 000-30 000 000],25600000.0,21600000.0,30000000.0
2,32137369,REGION,AMR,2022,3 800 000 [3 400 000-4 300 000],3800000.0,3400000.0,4300000.0
3,32137370,REGION,EMR,2022,490 000 [420 000-600 000],490000.0,420000.0,600000.0
4,32137371,REGION,EUR,2022,3 000 000 [2 600 000-3 300 000],3000000.0,2600000.0,3300000.0
...,...,...,...,...,...,...,...,...
4688,32234923,COUNTRY,VEN,2000,43 000 [38 000–49 000],43000.0,38000.0,49000.0
4689,32234924,COUNTRY,VNM,2000,120 000 [110 000–140 000],120000.0,110000.0,140000.0
4690,32234925,COUNTRY,YEM,2000,2200 [2000–2300],2200.0,2000.0,2300.0
4691,32234926,COUNTRY,ZMB,2000,810 000 [770 000–870 000],810000.0,770000.0,870000.0
4692,32234927,COUNTRY,ZWE,2000,1 600 000 [1 400 000–1 700 000],1600000.0,1400000.0,1700000.0

In [81]:
data2.to_csv('living hiv.csv', index=False)

Now We want to learn about data and know the empty values ​​and the type of feature

In [82]:
data.shape

(4693, 8)

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4693 entries, 0 to 4692
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              4693 non-null   int64
 1   SpatialDimType  4693 non-null   object
 2   SpatialDim      4693 non-null   object
 3   TimeDim         4693 non-null   int64
 4   Value           4693 non-null   object
 5   NumericValue    3532 non-null   float64
 6   Low             3532 non-null   float64
 7   High            3532 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 293.4+ KB

In [84]:
data2.shape

(4693, 8)

In [85]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4693 entries, 0 to 4692
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              4693 non-null   int64
 1   SpatialDimType  4693 non-null   object
 2   SpatialDim      4693 non-null   object
 3   TimeDim         4693 non-null   int64
 4   Value           4693 non-null   object
 5   NumericValue    3558 non-null   float64
 6   Low             3558 non-null   float64
 7   High            3558 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 293.4+ KB

In [86]:
data[data['NumericValue'].isnull()]

,Id,SpatialDimType,SpatialDim,TimeDim,Value,NumericValue,Low,High
234,32256659,COUNTRY,AND,2022,No data,NaN,NaN,NaN
236,32256661,COUNTRY,ATG,2022,No data,NaN,NaN,NaN
239,32256664,COUNTRY,AUS,2022,No data,NaN,NaN,NaN
240,32256665,COUNTRY,AUT,2022,No data,NaN,NaN,NaN
242,32256667,COUNTRY,BHS,2022,No data,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4678,32261103,COUNTRY,TKM,2000,No data,NaN,NaN,NaN
4679,32261104,COUNTRY,TUV,2000,No data,NaN,NaN,NaN
4681,32261106,COUNTRY,UKR,2000,No data,NaN,NaN,NaN
4684,32261109,COUNTRY,USA,2000,No data,NaN,NaN,NaN
4687,32261112,COUNTRY,VUT,2000,No data,NaN,NaN,NaN

Here, because we dropped the featurer on which we were able to collect data, because it returned empty from the API, we began searching for another featurer that would perform the same task, and the choice fell on the spatilDim featurer.

In [87]:
df = data[data['NumericValue'].isna()].groupby(
    by=['SpatialDim']
).size().reset_index(name='count')

print(df)

   SpatialDim  count
0         AND     23
1         ATG     23
2         AUS      1
3         AUT     23
4         BHR     23
5         BHS      3
6         BIH     23
7         BRN     23
8         CAN      2
9         CHE     23
10        CHL     23
11        CHN     23
12        COK     23
13        CYP      1
14        DEU      1
15        DJI     23
16        DMA     23
17        FIN     23
18        FSM     23
19        GBR     23
20        GRD     23
21        HUN     23
22        IRL      1
23        ISR     23
24        JPN     23
25        KAZ     23
26        KIR     23
27        KNA     23
28        KOR     23
29        LCA     23
30        MCO     23
31        MHL     23
32        MUS     23
33        NGA     23
34        NIU     23
35        NLD      1
36        NOR     23
37        NRU     23
38        PLW     23
39        POL      1
40        PRK     23
41        RUS     23
42        SGP     23
43        SLB     23
44        SMR     23
45        SOM     23
46        SVN     23
47        SWE     23
48        SYC     23
49        TKM     23
50        TON     23
51        TUR     23
52        TUV     23
53        UKR     23
54        USA     23
55        VCT     23
56        VUT     23
57        WSM     23

In [88]:
df2 = data2[data2['NumericValue'].isna()].groupby(
    by=['SpatialDim']
).size().reset_index(name='count')

print(df)

   SpatialDim  count
0         AND     23
1         ATG     23
2         AUS      1
3         AUT     23
4         BHR     23
5         BHS      3
6         BIH     23
7         BRN     23
8         CAN      2
9         CHE     23
10        CHL     23
11        CHN     23
12        COK     23
13        CYP      1
14        DEU      1
15        DJI     23
16        DMA     23
17        FIN     23
18        FSM     23
19        GBR     23
20        GRD     23
21        HUN     23
22        IRL      1
23        ISR     23
24        JPN     23
25        KAZ     23
26        KIR     23
27        KNA     23
28        KOR     23
29        LCA     23
30        MCO     23
31        MHL     23
32        MUS     23
33        NGA     23
34        NIU     23
35        NLD      1
36        NOR     23
37        NRU     23
38        PLW     23
39        POL      1
40        PRK     23
41        RUS     23
42        SGP     23
43        SLB     23
44        SMR     23
45        SOM     23
46        SVN     23
47        SWE     23
48        SYC     23
49        TKM     23
50        TON     23
51        TUR     23
52        TUV     23
53        UKR     23
54        USA     23
55        VCT     23
56        VUT     23
57        WSM     23

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4693 entries, 0 to 4692
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              4693 non-null   int64
 1   SpatialDimType  4693 non-null   object
 2   SpatialDim      4693 non-null   object
 3   TimeDim         4693 non-null   int64
 4   Value           4693 non-null   object
 5   NumericValue    3532 non-null   float64
 6   Low             3532 non-null   float64
 7   High            3532 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 293.4+ KB

In [90]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4693 entries, 0 to 4692
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              4693 non-null   int64
 1   SpatialDimType  4693 non-null   object
 2   SpatialDim      4693 non-null   object
 3   TimeDim         4693 non-null   int64
 4   Value           4693 non-null   object
 5   NumericValue    3558 non-null   float64
 6   Low             3558 non-null   float64
 7   High            3558 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 293.4+ KB

we drop the null value from numeric value feture

In [91]:
data.dropna(subset=['NumericValue'], inplace=True)

In [92]:
data2.dropna(subset=['NumericValue'], inplace=True)

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3532 entries, 0 to 4692
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              3532 non-null   int64
 1   SpatialDimType  3532 non-null   object
 2   SpatialDim      3532 non-null   object
 3   TimeDim         3532 non-null   int64
 4   Value           3532 non-null   object
 5   NumericValue    3532 non-null   float64
 6   Low             3532 non-null   float64
 7   High            3532 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 248.3+ KB

In [94]:
data

,Id,SpatialDimType,SpatialDim,TimeDim,Value,NumericValue,Low,High
0,32138291,REGION,GLOBAL,2022,630 000 [480 000-880 000],630000.0,480000.0,880000.0
1,32138292,REGION,AFR,2022,380 000 [300 000-540 000],380000.0,300000.0,540000.0
2,32138293,REGION,AMR,2022,41 000 [31 000-54 000],41000.0,31000.0,54000.0
3,32138294,REGION,EMR,2022,20 000 [16 000-27 000],20000.0,16000.0,27000.0
4,32138295,REGION,EUR,2022,52 000 [40 000-65 000],52000.0,40000.0,65000.0
...,...,...,...,...,...,...,...,...
4688,32261113,COUNTRY,VEN,2000,1900 [1600–2200],1900.0,1600.0,2200.0
4689,32261114,COUNTRY,VNM,2000,5200 [4400–6000],5200.0,4400.0,6000.0
4690,32261115,COUNTRY,YEM,2000,<200 [<200–<200],200.0,200.0,200.0
4691,32261116,COUNTRY,ZMB,2000,61 000 [56 000–68 000],61000.0,56000.0,68000.0
4692,32261117,COUNTRY,ZWE,2000,130 000 [110 000–150 000],130000.0,110000.0,150000.0

In [95]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3558 entries, 0 to 4692
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              3558 non-null   int64
 1   SpatialDimType  3558 non-null   object
 2   SpatialDim      3558 non-null   object
 3   TimeDim         3558 non-null   int64
 4   Value           3558 non-null   object
 5   NumericValue    3558 non-null   float64
 6   Low             3558 non-null   float64
 7   High            3558 non-null   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 250.2+ KB

In [96]:
data.shape

(3532, 8)

In [97]:
data2.shape

(3558, 8)

In [98]:
value_counts = data['SpatialDim'].value_counts()

print(value_counts)

GLOBAL    33
AMR       33
EMR       33
EUR       33
SEAR      33
          ..
IRL       22
NLD       22
POL       22
CAN       21
BHS       20
Name: SpatialDim, Length: 151, dtype: int64

In [99]:
value_counts = data2['SpatialDim'].value_counts()

print(value_counts)

GLOBAL    33
AMR       33
EMR       33
EUR       33
SEAR      33
          ..
DEU       22
IRL       22
NLD       22
POL       22
CAN       21
Name: SpatialDim, Length: 152, dtype: int64

In [100]:
def calculate_sum(data, feature_name, numeric_value_column):
    # Group by the specified feature and sum the numeric values
    sum_by_feature = data.groupby(feature_name)[numeric_value_column].sum()
    return sum_by_feature

In [101]:
value_sum= calculate_sum(data,'SpatialDim','NumericValue')
value_sum_df = value_sum.reset_index()
print(value_sum_df)

    SpatialDim  NumericValue
0          AFG       13500.0
1          AFR    27960000.0
2          AGO      327100.0
3          ALB        2300.0
4          AMR     2313000.0
..         ...           ...
146        WPR     1464500.0
147        YEM        9700.0
148        ZAF     3121000.0
149        ZMB      888000.0
150        ZWE     1527000.0

[151 rows x 2 columns]

In [102]:
value_sum2= calculate_sum(data2,'SpatialDim','NumericValue')
value_sum_df2 = value_sum2.reset_index()
print(value_sum_df2)

    SpatialDim  NumericValue
0          AFG      194000.0
1          AFR   635300000.0
2          AGO     5690000.0
3          ALB       19590.0
4          AMR    79700000.0
..         ...           ...
147        WPR    37709000.0
148        YEM      121700.0
149        ZAF   135100000.0
150        ZMB    25490000.0
151        ZWE    31300000.0

[152 rows x 2 columns]

In [103]:
low_sum= calculate_sum(data,'SpatialDim','Low')
low_sum_df = low_sum.reset_index()
print(low_sum_df)

    SpatialDim         Low
0          AFG      9000.0
1          AFR  21970000.0
2          AGO    255300.0
3          ALB      2300.0
4          AMR   1735000.0
..         ...         ...
146        WPR    867000.0
147        YEM      8200.0
148        ZAF   1924000.0
149        ZMB    807000.0
150        ZWE   1256000.0

[151 rows x 2 columns]

In [104]:
low_sum2= calculate_sum(data2,'SpatialDim','Low')
low_sum_df2 = low_sum2.reset_index()
print(low_sum_df2)

    SpatialDim          Low
0          AFG      77000.0
1          AFR  538100000.0
2          AGO    4818000.0
3          ALB      16780.0
4          AMR   70050000.0
..         ...          ...
147        WPR   28356000.0
148        YEM     114700.0
149        ZAF   95900000.0
150        ZMB   24370000.0
151        ZWE   28400000.0

[152 rows x 2 columns]

In [105]:
high_sum= calculate_sum(data,'SpatialDim','High')
high_sum_df = high_sum.reset_index()
print(high_sum_df)

    SpatialDim        High
0          AFG     41470.0
1          AFR  39470000.0
2          AGO    424000.0
3          ALB      2300.0
4          AMR   3041000.0
..         ...         ...
146        WPR   2330300.0
147        YEM     10300.0
148        ZAF   5149000.0
149        ZMB   1016000.0
150        ZWE   1829000.0

[151 rows x 2 columns]

In [106]:
high_sum2= calculate_sum(data2,'SpatialDim','High')
high_sum_df2 = high_sum2.reset_index()
print(high_sum_df2)

    SpatialDim         High
0          AFG     684200.0
1          AFR  746800000.0
2          AGO    6790000.0
3          ALB      22430.0
4          AMR   89600000.0
..         ...          ...
147        WPR   47060000.0
148        YEM     127500.0
149        ZAF  177800000.0
150        ZMB   27020000.0
151        ZWE   34100000.0

[152 rows x 2 columns]

In [107]:
spatial_dim_info2 = data2.groupby(['SpatialDim'])['SpatialDimType'].first()
spatial_dim_info_df2=spatial_dim_info2 .reset_index()
print(spatial_dim_info_df2)

    SpatialDim SpatialDimType
0          AFG        COUNTRY
1          AFR         REGION
2          AGO        COUNTRY
3          ALB        COUNTRY
4          AMR         REGION
..         ...            ...
147        WPR         REGION
148        YEM        COUNTRY
149        ZAF        COUNTRY
150        ZMB        COUNTRY
151        ZWE        COUNTRY

[152 rows x 2 columns]

In [108]:
spatial_dim_info = data.groupby(['SpatialDim'])['SpatialDimType'].first()
spatial_dim_info_df= spatial_dim_info.reset_index()
print(spatial_dim_info_df)

    SpatialDim SpatialDimType
0          AFG        COUNTRY
1          AFR         REGION
2          AGO        COUNTRY
3          ALB        COUNTRY
4          AMR         REGION
..         ...            ...
146        WPR         REGION
147        YEM        COUNTRY
148        ZAF        COUNTRY
149        ZMB        COUNTRY
150        ZWE        COUNTRY

[151 rows x 2 columns]

In [109]:
new_data1 = pd.merge(high_sum_df, low_sum_df, on='SpatialDim', how='outer')

In [110]:
new_data2 = pd.merge(high_sum_df2, low_sum_df2, on='SpatialDim', how='outer')

In [111]:
new_data1

    SpatialDim        High         Low
0          AFG     41470.0      9000.0
1          AFR  39470000.0  21970000.0
2          AGO    424000.0    255300.0
3          ALB      2300.0      2300.0
4          AMR   3041000.0   1735000.0
..         ...         ...         ...
146        WPR   2330300.0    867000.0
147        YEM     10300.0      8200.0
148        ZAF   5149000.0   1924000.0
149        ZMB   1016000.0    807000.0
150        ZWE   1829000.0   1256000.0

[151 rows x 3 columns]

In [112]:
new_data1= pd.merge(new_data1, value_sum_df, on='SpatialDim', how='outer')

In [113]:
new_data2= pd.merge(new_data2, value_sum_df2, on='SpatialDim', how='outer')

In [114]:
new_data1= pd.merge(new_data1, spatial_dim_info_df, on='SpatialDim', how='outer')

In [115]:
new_data2= pd.merge(new_data2, spatial_dim_info_df2, on='SpatialDim', how='outer')

In [116]:
new_data2

    SpatialDim         High          Low  NumericValue SpatialDimType
0          AFG     684200.0      77000.0      194000.0        COUNTRY
1          AFR  746800000.0  538100000.0   635300000.0         REGION
2          AGO    6790000.0    4818000.0     5690000.0        COUNTRY
3          ALB      22430.0      16780.0       19590.0        COUNTRY
4          AMR   89600000.0   70050000.0    79700000.0         REGION
..         ...          ...          ...           ...            ...
147        WPR   47060000.0   28356000.0    37709000.0         REGION
148        YEM     127500.0     114700.0      121700.0        COUNTRY
149        ZAF  177800000.0   95900000.0   135100000.0        COUNTRY
150        ZMB   27020000.0   24370000.0    25490000.0        COUNTRY
151        ZWE   34100000.0   28400000.0    31300000.0        COUNTRY

[152 rows x 5 columns]

In [117]:
new_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 151
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SpatialDim      152 non-null    object
 1   High            152 non-null    float64
 2   Low             152 non-null    float64
 3   NumericValue    152 non-null    float64
 4   SpatialDimType  152 non-null    object
dtypes: float64(3), object(2)
memory usage: 7.1+ KB

In [118]:
new_data2.dropna(subset=['High'], inplace=True)

In [119]:
new_data2=new_data2.fillna('COUNTRY')

In [120]:
new_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 0 to 150
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SpatialDim      151 non-null    object
 1   High            151 non-null    float64
 2   Low             151 non-null    float64
 3   NumericValue    151 non-null    float64
 4   SpatialDimType  151 non-null    object
dtypes: float64(3), object(2)
memory usage: 7.1+ KB

In [121]:
new_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 151
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SpatialDim      152 non-null    object
 1   High            152 non-null    float64
 2   Low             152 non-null    float64
 3   NumericValue    152 non-null    float64
 4   SpatialDimType  152 non-null    object
dtypes: float64(3), object(2)
memory usage: 7.1+ KB

In [122]:
dying_and_living = pd.merge(new_data1, new_data2, on=['SpatialDim','SpatialDimType'],suffixes=["_dying", "_living"], how='outer')

In [123]:
dying_and_living

,SpatialDim,High_dying,Low_dying,NumericValue_dying,SpatialDimType,High_living,Low_living,NumericValue_living
0,AFG,41470.0,9000.0,13500.0,COUNTRY,684200.0,77000.0,194000.0
1,AFR,39470000.0,21970000.0,27960000.0,REGION,746800000.0,538100000.0,635300000.0
2,AGO,424000.0,255300.0,327100.0,COUNTRY,6790000.0,4818000.0,5690000.0
3,ALB,2300.0,2300.0,2300.0,COUNTRY,22430.0,16780.0,19590.0
4,AMR,3041000.0,1735000.0,2313000.0,REGION,89600000.0,70050000.0,79700000.0
...,...,...,...,...,...,...,...,...
148,ZAF,5149000.0,1924000.0,3121000.0,COUNTRY,177800000.0,95900000.0,135100000.0
149,ZMB,1016000.0,807000.0,888000.0,COUNTRY,27020000.0,24370000.0,25490000.0
150,ZWE,1829000.0,1256000.0,1527000.0,COUNTRY,34100000.0,28400000.0,31300000.0
151,CHL,NaN,NaN,NaN,COUNTRY,1059000.0,847000.0,962000.0
152,SVN,NaN,NaN,NaN,COUNTRY,15830.0,14290.0,15160.0

In [124]:
dying_and_living=dying_and_living.fillna('NoData')

In [125]:
dying_and_living.shape

(153, 8)

In [126]:
dying_and_living.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SpatialDim           153 non-null    object
 1   High_dying           153 non-null    object
 2   Low_dying            153 non-null    object
 3   NumericValue_dying   153 non-null    object
 4   SpatialDimType       153 non-null    object
 5   High_living          153 non-null    object
 6   Low_living           153 non-null    object
 7   NumericValue_living  153 non-null    object
dtypes: object(8)
memory usage: 10.8+ KB

In [127]:
import pandas as pd
df = pd.DataFrame(dying_and_living)
df.to_csv('dying_and_living.csv', index=False)

In [128]:
#####################################################  TASK2 ##################################################################################

In [129]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\dell\anaconda3\lib\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [130]:
from sqlalchemy.exc import OperationalError  # Add this import statement

from sqlalchemy import create_engine

# Replace 'mysql' with 'mysql+mysqldb'
engine = create_engine('mysql+mysqldb://root:password@localhost/sakila?charset=utf8mb4&binary_prefix=true')


try:
    connection = engine.connect()
    print("Connection successful")
except OperationalError as e:
    print(f"Something went wrong: {e}")

Connection successful

In [131]:
#from sqlalchemy import create_engine
from sqlalchemy.exc import ProgrammingError
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String,text
engine = create_engine('mysql+mysqldb://root:password@localhost/sakila')
try:
    connection = engine.connect()
    print("its run")
except OperationalError as f:
   
    print(f"somthing wrong: {f}")
#connect to a MySQL database on the local server and ensure the connection using try

its run

In [132]:
from sqlalchemy import create_engine, text
from sqlalchemy.exc import ProgrammingError

# Assuming you have a valid database connection string
db_url = "mysql+mysqldb://root:password@localhost/sakila"
engine = create_engine(db_url)

database_name = "dataEng"
try:
    # Creating a connection from the engine
    connection = engine.connect()

    # Executing the query on the connection using text
    create_database_query = text(f"CREATE DATABASE {database_name}")
    connection.execute(create_database_query)

    print(f"Database {database_name} created successfully!")

    # Closing the connection after use
    connection.close()

except ProgrammingError as e:
    print(f"Error occurred: {e}")
#creat a new database by use (execute)  and ensure the creation using try and exept

Error occurred: (MySQLdb.ProgrammingError) (1007, "Can't create database 'dataeng'; database exists")
[SQL: CREATE DATABASE dataEng]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [133]:
engine = create_engine('mysql+mysqldb://root:password@localhost/dataEng')
df = pd.read_csv('dying_and_living.csv')
df.to_sql('first', con=engine, index=False, if_exists='replace')

153

In [134]:
with engine.connect() as con:
    sql_query = text('SELECT High_dying,Low_dying FROM first')
    rs = con.execute(sql_query)
    df = pd.DataFrame(rs.fetchmany(size=10))
    df.columns = rs.keys()
print(len(df))
print(df)

10
   High_dying   Low_dying
0     41470.0      9000.0
1  39470000.0  21970000.0
2    424000.0    255300.0
3      2300.0      2300.0
4   3041000.0   1735000.0
5      2300.0      2300.0
6     40000.0     24220.0
7      2700.0      2300.0
8      4400.0      2300.0
9      9200.0      6200.0

In [135]:
with engine.connect() as con:
    sql_query = text('SELECT * FROM first WHERE SpatialDimType like "REGION"')
    rs = con.execute(sql_query)
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
print(df)

  SpatialDim  High_dying   Low_dying NumericValue_dying SpatialDimType  \
0        AFR  39470000.0  21970000.0         27960000.0         REGION
1        AMR   3041000.0   1735000.0          2313000.0         REGION
2        EMR    425600.0    248690.0           314900.0         REGION
3        EUR   1415000.0    881000.0          1138000.0         REGION
4     GLOBAL  55190000.0  29950000.0         39350000.0         REGION
5       SEAR   8680000.0   4516000.0          6213000.0         REGION
6        WPR   2330300.0    867000.0          1464500.0         REGION

    High_living   Low_living NumericValue_living
0   746800000.0  538100000.0         635300000.0
1    89600000.0   70050000.0          79700000.0
2     8121000.0    5657000.0           6583000.0
3    51800000.0   40840000.0          46450000.0
4  1089800000.0  790600000.0         931700000.0
5   146050000.0  108910000.0         125520000.0
6    47060000.0   28356000.0          37709000.0

In [136]:
with engine.connect() as con:
    sql_query = text('SELECT High_living,Low_dying,NumericValue_living,SpatialDimType,SpatialDim FROM first WHERE SpatialDimType like "COUNTRY" AND SpatialDim like"BEN" OR "FJI"')
    rs = con.execute(sql_query)
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
#print(df.head())
print(df)

  High_living Low_dying NumericValue_living SpatialDimType SpatialDim
0   1926000.0   66600.0           1649000.0        COUNTRY        BEN